files:
  "/etc/cron.d/certbot-renew":
    mode: "000644"
    owner: root
    group: root
    content: |
      0 0,12 * * * root certbot renew --quiet --no-self-upgrade >> /var/log/certbot-renewal.log

commands:
  install_dependencies:
    command: sudo yum install -y certbot python3-certbot-nginx nginx
  obtain_cert:
    command: sudo certbot certonly --non-interactive --agree-tos --email aaronbastian31@gmail.com --webroot -w /var/www/html -d productionbudgetanalyzer.xyz
  configure_nginx:
    command: |
      sudo cp /etc/letsencrypt/live/productionbudgetanalyzer.xyz/fullchain.pem /etc/pki/tls/certs/server.crt
      sudo cp /etc/letsencrypt/live/productionbudgetanalyzer.xyz/privkey.pem /etc/pki/tls/private/server.key
      sudo sed -i 's/listen 80 default_server;/listen 443 ssl default_server;/g' /etc/nginx/nginx.conf
      sudo sed -i 's/listen \[::\]:80 default_server;/listen \[::\]:443 ssl default_server;/g' /etc/nginx/nginx.conf
      <!-- sudo systemctl restart nginx -->

container_commands:
  enable_cron_job:
    command: echo "*/5 * * * * root /usr/sbin/certbot renew --quiet" | sudo tee -a /etc/cron.d/certbot-renew > /dev/null

Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: https
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0